<header>
    <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
        <a class="nav-link text-success font-weight-bold active h2" href="/home">LION BET</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav"  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-success font-weight-bold active h4" href="/add-match" >Add Match</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-success font-weight-bold active h4" href="/add-team">Add Team</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-success font-weight-bold active h4" href="/add-player">Add Player</a>
                </li>
            </ul>
        </div>
    </nav>
</header>