<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{common/head}"/>
<body class="body-backgr">
<th:block th:include="~{common/logged-in-admin-header}"/>
<main class="p-5">
    <hr class="hr-3"/>
    <form class="mll-reg1 w-25" th:action="@{'/bet/' + ${match.id}}" th:method="post">
        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="home-team-goals" class="h3 mb-3"
                    th:text="${match.homeTeam.name} + ' goals'">
                </label>
            </div>
            <input type="number" min="0" max="15" class="form-control h3 mb-3" id="home-team-goals" name="homeTeamGoals"/>

            <div class="label-holder text-white d-flex justify-content-center">
                <label for="away-team-goals" class="h3 mb-3"
                       th:text="${match.awayTeam.name} + ' goals'">
                </label>
            </div>
            <input type="number" min="0" max="15" class="form-control h3" id="away-team-goals" name="awayTeamGoals"/>

        </div>
        <div class="button-holder d-flex justify-content-center">
            <button class="btn btn-success text-white font-weight-bold mb-3" type="submit">Bet</button>
        </div>
    </form>
</main>
</body>
</html>