<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{common/head}"/>
<body class="body-backgr">
<th:block th:include="~{common/logged-in-admin-header}"/>
<main class="p-5 ">
    <hr class="hr-5"/>
    <div class="p-md-5 w-50">
        <th:block th:each="bet : ${bets}">
            <div class="button-holder justify-content-center">
                <ul>
                    <li class="btn btn-success text-white mb-3 col-lg-12"
                            th:text="|${bet.footballMatch.homeTeam.name}  ${bet.prediction.hostGoals}
                            : ${bet.prediction.guestGoals}  ${bet.footballMatch.awayTeam.name}|">
                    </li>
                </ul>
            </div>
        </th:block>

    </div>
</main>
</body>
</html>