.logo {
    width: 200px;
    height: 100px;
    backface-visibility: hidden;
}

.body-backgr {
background-image: url("/img/lion-bet-backgr.jpg");
background-position: top;
background-attachment: fixed;
background-size: cover;
}

.h1 {
    color: chocolate;
    scroll-padding-block-end: 400px;
    width: 100px;
    height: 200px;
}

input{
    width: 25px;
}
.lite-green{
    color:limegreen;
}