<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lion Bet</title>
    <link rel="stylesheet" href="./styles/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body class="body-backgr">
    
    <header>
        <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
            <a class="nav-link text-success font-weight-bold h2" href="/LionBet/index.html">LION BET</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav"  aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav row">
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-success font-weight-bold active h4" href="/LionBet/index.html">Home</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-success font-weight-bold active h4" href="/LionBet/login.html">Login</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-success font-weight-bold active h4" href="/LionBet/register.html">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="p-5">
        <h1 class="mll-reg2 text-success font-weight-bold">Register</h1>
        <hr class="hr-3"/>
        <form class="mll-reg1 w-25">
            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label for="username" class="h4 mb-2 text-white">Username</label>
                </div>
                <input type="text" class="form-control" id="username" name="username"/>
            </div>
            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="email" class="h4 mb-2">Email</label>
                </div>
                <input type="email" class="form-control" id="email" name="email"/>
            </div>
            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="password" class="h4 mb-2">Password</label>
                </div>
                <input type="password" class="form-control" id="password" name="password"/>
            </div>
            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="confirmPassword" class="h4 mb-2">Confirm Password</label>
                </div>
                <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"/>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button class="btn btn-success text-white mb-2" type="submit">Register</button>
            </div>
        </form>
    </main>