<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{common/head}"/>
<body class="body-backgr">
<th:block th:include="~{common/moderator-header}"/>
<main class="p-6">
    <h1 class="pos-add-team text-success font-weight-bold">Add Team</h1>
    <hr class="hr-3"/>
    <form class="mll-reg1 w-25 " th:action="@{/addTeam}" method="post">
        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="name" class="h3 mb-2">Name</label>
            </div>
            <input type="text" class="form-control" id="name" name="name"/>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button class="btn btn-success text-white font-weight-bold mb-3" type="submit">Add</button>
        </div>
    </form>
</main>
</body>
</html>