<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{common/head}"/>
<body class="body-backgr">
<th:block th:include="~{common/logged-in-admin-header}"/>
<main>
    <div class="container pos-add-team">
        <hr class="mt-5"/>
        <h1 class="lite-green font-weight-bold">Welcome,
            <span th:text="${#authentication.getName()}" ></span>!</h1>
        <span>
        </span>
        <h1 class="lite-green font-weight-bold">Your points:
            <span th:text="${#authentication.getPrincipal().getPoints()}" !></span>
        </h1>

    </div>
</main>
</body>
</html>