<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{common/head}"/>
<body class="body-backgr">
    <th:block th:include="~{common/not-logged-header}"/>
    <main>
        <div class="container">
            <hr class="my-5"/>
            <h1 class="text-white">Welcome to <a class="text-success font-weight-bold">Lion Bet!</a></h1>
            <hr class="my-2"/>
            <p class="h3 text-white">The best game for predictions on</p>
            <p class="h3 text-white">football matches from top leagues of Europe!</p>
            <hr class="my-3"/>
            <h3 class="text-white"><a class="text-success font-weight-bold" href="/login"> Login </a>if you have an account or</h3>
            <h3 class="text-white"><a class="text-success font-weight-bold" href="/register"> Register </a>now and make your predictions.</h3>>
        </div>
    </main>
</body>
</html>