<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{common/head}"/>
<body class="body-backgr">
<th:block th:include="~{common/moderator-header}"/>
<main>
    <hr class="hr-3"/>
    <div class="p-md-5 w-50">
        <div class="button-holder d-flex justify-content-center">
            <a class="btn btn-success text-white mb-5 col-lg-8" href="/LionBet/login.html">Add Match</a>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <a class="btn btn-success text-white mb-5 col-lg-8" href="/addTeam">Add Team</a>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <a class="btn btn-success text-white mb-5 col-lg-8" href="/LionBet/login.html">Add Player</a>
        </div>
    </div>
</main>
</body>
</html>